@font-face {
  font-family: "samsungOne";
  src: url(fonts/SamsungOne-400.woff2);
  font-style: normal;
  font-weight: 400; }
@font-face {
  font-family: "samsungOne-700";
  src: url(fonts/SamsungOne-700.woff2);
  font-style: normal;
  font-weight: 700; }
@font-face {
  font-family: "samsungSharp";
  src: url(fonts/SamsungSharpSansBd.woff);
  font-style: bold;
  font-weight: 700; }
* {
  margin: 0; }
  * body {
    background-color: #fafafa; }
    * body h2, * body h3, * body p {
      margin: 0; }

header {
  background-color: #ffffff;
  border-bottom: 2px solid #d4d4d4;
  padding: 50px 0 40px 0; }
  header .content-container h2 {
    text-align: center;
    margin-bottom: 4px;
    padding: 5px;
    font-family: "samsungSharp", Arial;
    font-size: 26px; }
  header .content-container p {
    text-align: center;
    padding: 5px;
    font-family: "SamsungOne", Arial;
    font-weight: bold; }

main {
  padding: 45px 20px 30px 20px; }
  main .content-container {
    max-width: 800px;
    margin: auto; }
    main .content-container h3 {
      margin: 0 0 18px;
      font-family: "SamsungOne-700", Arial;
      font-weight: bold;
      font-size: 20px; }
    main .content-container .content-row {
      width: 100%;
      justify-content: center;
      margin-bottom: 45px; }
      main .content-container .content-row ul {
        padding: 0px; }
        main .content-container .content-row ul li {
          list-style: none;
          display: inline; }
          main .content-container .content-row ul li button {
            background-color: #ffffff;
            border: 1px solid #d4d4d4;
            border-radius: 10px;
            box-shadow: 1px 4px 1px #e5e5e5;
            width: 30%;
            display: inline-block;
            margin: 0 1% 15px 1%;
            text-align: center;
            padding: 25px 0px; }
            main .content-container .content-row ul li button img {
              height: 50px; }
            main .content-container .content-row ul li button h3 {
              margin-bottom: 6px;
              font-family: "SamsungOne-700", Arial;
              font-size: 18px; }
            main .content-container .content-row ul li button p {
              font-family: "SamsungOne", Arial;
              color: #b5b1b1; }
          main .content-container .content-row ul li button:hover {
            box-shadow: 1px 1px 1px 1px #000000; }
          main .content-container .content-row ul li button:focus {
            outline: none; }
        main .content-container .content-row ul li.active button {
          border: 3px solid #142c98; }
          main .content-container .content-row ul li.active button p {
            font-weight: bold;
            color: #828282; }
        main .content-container .content-row ul li.active button:hover {
          box-shadow: none; }

#price button img {
  height: 20px;
  margin-bottom: 6px; }
@media screen and (max-width: 390px) {
  #price button {
    width: 29.2%; }
    #price button img {
      height: 15px; }
    #price button p {
      font-size: 13px; } }

@media only screen and (max-width: 1024px) {
  #spec button {
    width: 47%; }
    #spec button p {
      font-size: 13px; } }
@media screen and (max-width: 450px) {
  #spec button {
    width: 100%; } }

footer {
  display: none;
  background-color: #000000; }
  footer .content-container {
    max-width: 800px;
    margin: auto; }
    footer .content-container p {
      text-align: center;
      color: #ffffff;
      font-size: 18px;
      line-height: 20px;
      font-family: "SamsungOne", Arial; }
      footer .content-container p img {
        position: relative;
        top: 8px;
        width: 28px; }
      footer .content-container p span {
        font-weight: bold; }
      footer .content-container p button {
        background-color: #162992;
        color: #ffffff;
        padding: 15px 40px;
        border: none;
        border-radius: 25px;
        margin: 20px;
        text-transform: uppercase;
        font-size: 12px; }

/*# sourceMappingURL=styles.css.map */
